.home-card{
    width: 300px;
    height: auto;
}

.home-card-image{
    border-radius: 25px;
    z-index: -2;
}



.number-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#3A5295;
    color: white;
}

.bed-and-bath{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-content{
    display: flex;
    justify-content: space-around;
}

.address{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.view-home-btn{
    width: 100%;
    border-top: solid #CED3D8 1px;
    text-align: center;
}

.view-btn{
    margin: 10px;
    cursor: pointer;
}