.city-names-container{
    display: flex;
}

.backround-image{
    background-image: url(/src/assets/sources/overlay.png);
    background-position: center;
    background-size: cover;
    display: flex;
}
.title{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/overlay.png);
    height: 400px;
}

.secondTitle{
    font-weight: 300;
    width: 60%;
}


.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.title h2{
    font-size: 20px;
}

.search-city{
    border-radius: 10px;
    justify-content: center;
    position: relative;
    display: flex;
    top: 1px;
    width: 100%;
}

.search-input-container{
    display: flex;
    align-items: center;
    width: 400px;
}

.search-city-bubble{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.search-city-btn{
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #3A5295;
    width: 400px;
    cursor: pointer;
    height: 20px;
}

.search-city-bar{
    width:900px;
    border-radius: 2px;
    border: 1px solid gray;
    height: 20px;
    border-radius: 5px;
}


.title{
    color: white;
}

.title2{
    margin-top: 50px;
    margin-bottom: 100;
}

