.HomeDetailsPage{
    padding-inline: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-top{
    display: flex;
    justify-content: space-around;
}

.photo-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-inline: 10px;
}
.main-picture{
    border-radius: 10px;
}

.main-photo-container{
    display: flex;
    flex-direction: column;
}

.other-photo-container{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.other-pictures{
    display: flex;
    border-radius: 10px;
    width: 33%;
    padding: 2px;

}

.home-stats{
    display: flex;
    flex-direction: column;
}

.page-mid{
    display: flex;
    justify-content: space-around;

}

.desc{
    display: flex;
    justify-content: flex-start;
    width: 35%;
}

.bed-price{
    width: 50%;

}

.room-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px gray;
    padding: 10px;

}

.room-row-bottom{
    border: solid 1px #CED3D8;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.home-address{
    font-size: 32px;
    font-weight: 400;
}

.room-row-top{
    border: solid 1px #CED3D8;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.home-stats{
    width: 100%;
    padding-left: 20px;
    height: auto;
    display: flex;
    
}

.home-stats-border{
    border: 1px #CED3D8 solid;
    padding-right: 40px;
    border-radius: 7px;
    height: 370px;
}

.home-description{
    font-size: 20px;
    font-weight: 400;
}

.address-box{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px #CED3D8 solid;
}

.row1{
    display: flex;
    justify-content: space-around;
}

.row2{
    display: flex;
    justify-content: space-around;
}

.bedrooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.price{
    display: flex;
    flex-direction: column;
    
    
}

.stats-btns{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.shortlist-btn{
    width: 49%;
    height: 35px;
    border-radius: 10px;
    color: #3A5295;
    border: none;
}

.booking-btn{
    width: 49%;
    height: 35px;
    border-radius: 10px;
    background-color: #3A5295;
    color: white;
    border: #CED3D8;
}

.Key-F{
    margin-left: 50px;
}

.desc p{
    font-size: 25px;
}
