
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #00A2E1;
    }

.header-title{
display: flex;
width: 100%;
color: white;
margin-left: 20px;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    width: 700px;
    padding: 0px;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    font-size: 50px;
    align-items: center;
}

.contact-btn{
  background-color: #00A2E1;
  border: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea, select { 
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(102, 92, 171, 0.3);
  }
  
  form button[type='submit'] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .form-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-flex > * {
    flex-basis: 50%;
  }