.socials-container{
    display: flex;
    justify-content: space-around;
    background-color: #00A2E1;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.social-input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: black;

}

.social-input::placeholder{
    color: #CED3D8;
}

.keep-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.lets-socialize p{
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 5px;
}

.lets-socialize img{
    padding-right: 15px;
}


.banner{
    display: flex;
    background-color: black;
    color: #FFFFFF99;
    justify-content: space-between;
}

.links{
    display: flex;
    padding: 30px;
    width: 50%;
    justify-content: space-around;
    cursor: pointer;
}

.stamps{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 15%;

}

