.title{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/overlay.png);
    background-size: cover;
    height: 400px;
}

.secondTitle{
    font-weight: 300;
}


.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.title h2{
    font-size: 20px;
}

.search-city{
    border-radius: 10px;
    justify-content: center;
    position: relative;
    display: flex;
    top: 130px;
    width: 100%;
}

.search-input-container{
    display: flex;
    align-items: center;
    width: 400px;
}

.search-city-bubble{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.search-city-btn{
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #3A5295;
    width: 400px;
    cursor: pointer;
    height: 20px;
}

.search-city-bar{
    width:900px;
    border-radius: 2px;
    border: 1px solid gray;
    height: 20px;
    border-radius: 5px;
}

.backround-image{
    background-image: url(/src/assets/sources/overlay.png);
    background-position: center;
    background-size: cover;
    display: flex;
}

.title{
    color: white;
}

.title2{
    margin-top: 50px;
}

.city-options-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    height: 900px;
}

.see-all-btn{
    text-align: center;
    background-color: rgb(82, 82, 179);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}

.see-all-btn-container{
    text-align: center;
    
}

.compare-box-grid{
    display: flex;
    justify-content: space-around;
}

.compare-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F6FAFD;
    height: 300px;
    border-radius: 20px;
    width: 90%;
    margin-top: 30px;
}

.compare-box-container{
    display: flex;
    height: 300px;
    justify-content: center;
}

.info-pic-container{
    display: flex;
    justify-content: space-around;
}

.left-box{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 30px;
}

.left-box-title{
    font-size: 28px;
}

.left-box-para{
    font-size: 20px;
    font-weight: 300;
}

.SC-btn{
    width: 170px;
    height: 30px;
    background-color: #3A5295;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.indo-pic-container{
    display: flex;
    padding-bottom: 30px;
}

.phone-man{
    width: auto;
    height: 300px;
}



.socials-container{
    display: flex;
    justify-content: space-around;
    background-color: #00A2E1;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.social-input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #CED3D8;
}

.keep-in-touch{
    display: flex;
    flex-direction: column;
    width: 30%;
}