
.slider{
    background-image: url(/src/assets/sources/overlay.png);
    background-position: center;
    background-size: cover;
}


.title{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/overlay.png);
    background-size: cover;
    height: 400px;
}

.secondTitle{
    font-weight: 300;
}


.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.title h2{
    font-size: 20px;
}

.search-city{
    border-radius: 10px;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
}

.search-input-container{
    display: flex;
    width: 400px;
}

.search-city-bubble{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}


.search-city-bar{
    width:900px;
    border-radius: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}


.title{
    color: white;
}
